{
  "extends": ["@upstatement/eslint-config/react", "plugin:promise/recommended"],
  "plugins": ["promise"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "promise/prefer-await-to-then": "error"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": "plugin:@typescript-eslint/recommended",
      "plugins": ["@typescript-eslint"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
